<style>
html{
	width: 100%;
}

body{
	width:100%;
	margin:0;
		background-repeat: no-repeat;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-size:30pt;
	margin: 0;
	text-align: center;
	padding: 25pt;
}

.headsection{
	padding-top:150px;
	margin: 0;
	height: 600px;
	width:100%;
	background: url("../img/bg1.jpg");
	background-size:cover;
}

.headtitle{
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size:70pt;
	text-align: center;
	margin: 0;
}

.headtitble p{
	margin-top: 250px;
	padding: 0;
}
.headsubtitle{
    white-space: nowrap;
    overflow: hidden;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 25pt;
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
	text-align: center;

}

.headsubtitle span{
	padding: 0;

}



.menu{
	padding: 50px;
	margin-left: 10px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size:15pt;

}


#aboutsection{
	font-family: 'Muli', sans-serif;
	padding: 20px 200px 20px 200px;
	margin: 0;
	background:#f1f1f1;
	background-size: contain;
	min-height: 500px;

}

.right{
	width:50%;
	float:left;

}

.left {
	float: left;
	width: 50%;

}

.img-circle {
    border-radius: 50%;
    text-align: center;
}

li{
	font-size: 15px;
}

.skills{
	margin:10px 10px;
	text-align: center;
	color: white;
	padding:5px;
	box-sizing: border-box;
	width: 15%;
	background:#21b384;
	border-radius:5px;
	box-shadow: 2px 2px 2px #888888;
}

.skills:hover{
	cursor:pointer;
	box-shadow: 1px 1px 1px 1px #888888;

}


.portforlio{
	min-height: 500px;
	margin: 0;
	background:#f1f1f1;
	padding: 20px 200px 20px 200px;
}
.portforlio img{
	margin-left: 20px;
}

.footer{
	color: #fff;
    line-height: 40px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	padding-top:5px;
	height: 60px;
	width: 100%;
	background:#1b2329;
	background-size: cover;
	text-align: center;
}


.typed-cursor{
	color: white;
	font-size: 25pt;
	text-align: center;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

</style>
